.DS_Store
/extras/node_modules/**
/source/node_modules/**
/source/VST3-Builds/**
/source/AU-Builds/**
/source/App-Builds/**
/source/build-results/**
/source/exported-code/**
/source/Projucer/tmp*.jucer
/source/Projucer/JuceLibraryCode/**
